<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head(pageTitle='Benvenuto')}">
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>

<main class="container text-center my-5 py-5">
    <img th:src="@{/img/logo-fenibook-icona.png" alt="Fenibook Icon" style="max-height: 120px;" class="mb-4">
    <h1 class="display-4 fw-bold">RINASCITA ATTRAVERSO LA LETTURA</h1>
    <p class="lead text-secondary col-md-8 mx-auto">
        Unisciti alla nostra community, partecipa a sfide entusiasmanti e riscopri il piacere di leggere in un modo nuovo e coinvolgente.
    </p>
    <a th:href="@{/register}" class="btn btn-fenibook-accent btn-lg mt-3">Inizia la Tua Avventura</a>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>